.sellerContainer {
    display: flex;
    grid-template-columns: 1fr auto auto;
    padding-top: 20px;
    /* gap: 40px; */
}

.sellerLeftNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    position: relative;
    z-index: 1;
}

.sellerRightContainer {
    padding-left: 40px;
    width: 100%;
}

.sellerLeftNav.fixed {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #F2DCCB;
    padding: 20px;
}


.sellerStats {
    display: flex;
    gap: 50px;
    margin: auto;
    justify-content: center;
    padding-top: 30px;
}

/* .sellerStats div div {
    width: 150px;
} */

.vertical-line {
    padding-top: 20px;
    border-left: 1px solid #8EBAA8;
    height: auto;
    margin: 20px 10px;
}

.sellerStats div,
.sellerStats h2 {
    display: grid;
    justify-content: center;
}

.sellerMenuButton {
    cursor: pointer;
    outline: none;
}

.sellerMenuButton:active,
.sellerMenuButton:hover {
    outline: none;
    background-color: transparent;
}

.seller-dropdown {
    display: grid;
    height: auto;
    padding-bottom: 20px;
    position: absolute;
    border: #28635A solid 1.5px;
    border-radius: 3px;
    padding: 15px 20px 15px 20px;
    background-color: #F2DCCB;
    width: fit-content;
    text-wrap: nowrap;
    margin-top: 10px;
    margin-right: -2px;
    left: 1;
    z-index: 2;
    cursor: text;
    display: grid;
    column-gap: 30px;
}

.outerSellMenuWrapper {
    height: 100%;
    overflow-y: auto;
    background-color: transparent;
}

.manageListingsSection hr {
    margin: 30px 0px;
    border: .25px solid #8EBAA8;
    width: 95%;
}


.manageListingsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    column-gap: 35px;
    justify-items: center;
    margin: auto;
    /* width: 100%; */
}

.manageListingsContainer h2 {
    font-size: 18px;
}

.manageListingImageContainer {
    /* width: 348.75px; */
    width: 321px;
}

.manageListingImage {
    width: 100%;
    height: 225px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.manageListingImage-outline {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100%);
    height: calc(100%);
    border: 2px solid #FDAC8A;
    box-sizing: border-box;
    border-radius: 3px;
}

.manageListingsSection {
    max-width: 1000px;
    padding-top: 20px;
}

.currentListings {
    margin-top: 20px;
    margin-bottom: 35px;
}

.soldListingsHeader {
    margin-top: 40px;
}

.manageSoldOutImage {
    filter: grayscale(100%);
}


.listingButtons {
    display: flex;
    gap: 8px;
    justify-content: end;
    width: fit-content;
}

.soldListingButtonContainer {
    display: flex;
    justify-content: end;
}

.soldListingButtons {
    display: flex;
    gap: 8px;
    justify-content: end;
    width: fit-content;
}

.manageListingInfo {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto;
    /* width: 348.75px; */
    width: auto;
    column-gap: 20px;
    padding-top: 5px;
}

.manageOrdersSection {
    padding-top: 10px;
}

.orderInfo {
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
    padding-bottom: 20px;
}

.shipTo {
    display: flex;
    gap: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    text-align: left;
    padding: 5px 15px;
    border: 1px solid #8EBAA8;
}

table th:first-child,
table td:first-child {
    border-left: none;
}

table th:last-child,
table td:last-child {
    border-right: none;
}

table tr:first-child th,
table tr:first-child td {
    border-top: none;
}

table tr:last-child td {
    border-bottom: none;
}

tbody tr:last-child {
    font-style: italic;
    background-color: rgba(142, 186, 168, 0.5)
}

.orderStatusOptions,
.radio {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.radio span {
    margin-right: 20px;
}

@media screen and (max-width: 480px) {
    .sellerContainer {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }

    .vertical-line {
        display: none;
    }

    .sellerStats {
        gap: 30px;
        padding-top: 10px;
    }

    .sellerStats div,
    .sellerStats h2 {
        justify-content: start;
    }

    .sellerRightContainer {
        padding-left: 0;
    }

    .manageListingImageContainer {
        width: 75vw;
    }

    .manageListingsContainer {
        width: 75vw;
        gap: 0px;
    }

    .manageListingInfo {
        width: 75vw;
        padding-top: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .sellerContainer {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }

    .sellerRightContainer {
        padding-left: 0;
    }

    .vertical-line {
        display: none;
    }

    .sellerStats {
        gap: 30px;
        padding-top: 10px;
        justify-content: start;
    }

    .sellerStats div,
    .sellerStats h2 {
        justify-content: start;
    }

    .manageListingsContainer {
        grid-template-columns: auto;
        width: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .sellerContainer {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }

    .vertical-line {
        display: none;
    }

    .sellerStats {
        gap: 30px;
        padding-top: 10px;
        justify-content: start;
    }

    .sellerStats div,
    .sellerStats h2 {
        justify-content: start;
    }

    .sellerRightContainer {
        padding-left: 0;
    }

    .manageListingsContainer {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        row-gap: 0px;
    }

    .manageListingImage {
        /* height: 275px; */
        width: 100%;
    }
}
