.sellerContainer {
    display: flex;
    grid-template-columns: 1fr auto auto;
    padding-top: 20px;
    /* gap: 40px; */
}

.sellerDashContainer {
    display: grid;
    justify-content: start;
    margin-top: 20px;
}

/* .sellerLeftNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    position: relative;
    z-index: 1;
} */

.sellerRightContainer {
    /* padding-left: 40px; */
    /* width: 100%; */
    margin-top: 25px;
}

.sellerLeftNav.fixed {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #F2DCCB;
    padding: 20px;
}

.vertical-line {
    padding-top: 20px;
    border-left: 1px solid #8EBAA8;
    height: auto;
    margin: 20px 10px;
}

.sellerStats {
    display: grid;
    gap: 50px;
    margin: auto;
    /* justify-content: center; */
    padding-top: 30px;
}

.sellerStats h2 {
    display: flex;
    justify-content: start;
}

.sellerStatsRow {
    display: flex;
    gap: 30px;
    justify-content: start;
}

.sellerStatsRow div {
    width: 200px;
}

.sellerMenuButton {
    cursor: pointer;
    outline: none;
}

.sellerMenuButton:active,
.sellerMenuButton:hover {
    outline: none;
    background-color: transparent;
}

.seller-dropdown {
    position: absolute;
    border: #28635A solid 1.5px;
    border-radius: 3px;
    padding: 15px 20px 15px 20px;
    background-color: #F2DCCB;
    width: fit-content;
    text-wrap: nowrap;
    margin-top: 20px;
    margin-right: -2px;
    left: 1;
    z-index: 2;
    cursor: text;
    display: grid;
    column-gap: 30px;
}

.outerSellMenuWrapper {
    height: 100%;
    overflow-y: auto;
    /* background-color: transparent; */
}

.outerSellMenuWrapper div {
    margin-bottom: 10px;
}

.outerSellMenuWrapper div:last-child {
    margin-bottom: 0px;
}


.manageListingsSection hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: .25px solid #8EBAA8;
    width: 95%;
}


.manageListingsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 35px;
    justify-items: center;
    margin: auto;
    margin-top: 20px;
}

.manageListingsContainer h2 {
    font-size: 18px;
}

.manageListingImageContainer {
    /* width: 348.75px; */
    width: 321px;
}

.manageListingImage {
    width: 100%;
    height: 225px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.manageListingImage-outline {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100%);
    height: calc(100%);
    border: 2px solid #FDAC8A;
    box-sizing: border-box;
    border-radius: 3px;
}

.manageListingsSection {
    /* max-width: 1000px; */
    padding-top: 20px;
}

.soldListingsHeader {
    margin-top: 80px;
}

.manageSoldOutImage {
    filter: grayscale(100%);
}


.listingButtons {
    display: flex;
    gap: 8px;
    justify-content: end;
    width: fit-content;
}

.soldListingButtonContainer {
    display: flex;
    justify-content: end;
}

.soldListingButtons {
    display: flex;
    gap: 8px;
    justify-content: end;
    width: fit-content;
}

.manageListingInfo {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto;
    /* width: 348.75px; */
    width: auto;
    column-gap: 20px;
    padding-top: 5px;
}

@media screen and (max-width: 480px) {
    .sellerContainer {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }

    .vertical-line {
        display: none;
    }

    .sellerStats {
        gap: 30px;
        padding-top: 10px;
    }

    .sellerStatsRow {
        display: grid;
    }

    .sellerStats div,
    .sellerStats h2 {
        justify-content: start;
    }

    .sellerRightContainer {
        padding-left: 0;
    }

    .manageListingImageContainer {
        width: 75vw;
    }

    .manageListingsContainer {
        width: 75vw;
        row-gap: 40px;
    }

    .manageListingInfo {
        width: 75vw;
        padding-top: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .sellerContainer {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }

    .sellerRightContainer {
        padding-left: 0;
    }

    .vertical-line {
        display: none;
    }

    .sellerStats {
        display: grid;
        gap: 30px;
        padding-top: 10px;
    }

    .sellerStats div,
    .sellerStats h2 {
        justify-content: start;
    }

    .manageListingsContainer {
        grid-template-columns: auto;
        width: 100%;
        row-gap: 40px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .sellerContainer {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }

    .vertical-line {
        display: none;
    }

    .sellerStats {
        gap: 30px;
        padding-top: 10px;
        justify-content: start;
    }

    .sellerStats div,
    .sellerStats h2 {
        justify-content: start;
    }

    .sellerRightContainer {
        padding-left: 0;
    }

    .manageListingsContainer {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        row-gap: 40px;
    }

    .manageListingImage {
        /* height: 275px; */
        width: 100%;
    }
}
