.listingPageContainer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 50px;
}

.listingPageImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.inputBox {
    border: none;
    padding: 5px 5px !important;
    margin-top: 10px !important;
    outline: none;
    width: auto !important;
    border: none !important;
}

.inputBox::-webkit-inner-spin-button,
.inputBox::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.quantityContainer {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 8px;
    overflow: hidden;
    border-radius: 5px;
    /* width: 305px; */
    padding-bottom: 10px;
}

.qtylabel {
    display: flex;
    /* margin-right: 8px */
}

.quantityInput {
    display: flex;
    align-items: center;
    /* margin-top: -10px; */
    height: 24px;
    background-color: #efefef;
    border-radius: 3px;
    /* padding: 5px; */
}

.quantityButton {
    width: 175px;
}

.quantityInput button {
    border: none;
    height: 24px;
    /* margin-top: 10px; */
    /* padding: 0px 10px; */
    background-color: #efefef;
    border-radius: 3px;
    width: auto;
    /* margin-right: 5px; */
    box-shadow: none;
}

.quantityInput button:disabled {
    cursor: default;
}

.quantityInput button:disabled i {
    color: gray;
}

.qtyPlusMinus {
    font-size: x-small;
    color: #E38251;
}

.qtyPlusMinus i {
    margin-bottom: 25px;
}

.quantityInput input {
    width: 20px;
    height: 14px;
    border-radius: 0;
    text-align: center;
    background-color: #efefef;
}

.price {
    font-size: 16px;
}

.listingPageContainer p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.linkedGuides {
    margin-top: 35px;
}

.linkedGuidesContainer {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr)); */
    gap: 50px;
    justify-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 30px;
}

.otherSection {
    max-width: 1380px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 50px;
}

.otherSection.singleGuide {
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
}

.listingGuideCoverContainer {
    position: relative;
    width: 375px;
    height: 350px;
}

.listingGuideCover {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.listingGuideCoverContainer::before {
    content: '';
    z-index: 1;
    width: 375px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}

.linkedGuideHeader {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: #F2DCCB;
    z-index: 1;
}

.linkedGuideHeader h3 {
    font-size: 18px;
}

.linkedGuideHeader div {
    margin-top: auto;
}

.meetTheSeller {
    margin-top: 50px;
}

.meetTheSellerContainer {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.sellerImageContainer {
    width: 300px;
    height: 300px;
    position: relative;

}

.sellerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 5px; */
    border-radius: 50%;
}

.sellerImage-outline {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100%);
    height: calc(100%);
    border: 2px solid #FDAC8A;
    box-sizing: border-box;
    border-radius: 50%;
}

.soldOutText {
    width: fit-content;
    background-color: #FDAC8A;
    color: #F2DCCB;
    padding: 5px;
    font-weight: 600;
}

.listingsPageShop {
    display: grid;
    gap: 20px;
    height: fit-content;
    /* align-self: center; */
}

.reviewsContainer {
    display: grid;
    margin-top: 50px;
}

.reviewsHeader {
    display: flex;
    gap: 20px;
}

.reviewer {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    align-items: center;
    flex-wrap: nowrap;
}

.reviewStars {
    padding-bottom: 10px;
}

.reviews {
    display: grid;
    gap: 20px;
}

/* .stars {
    font-size: x-large;
    cursor: default;
} */

.stars {
    font-size: 24px;
    color: #28635A;
    display: inline-block;
    position: relative;
    /* cursor: default; */
    line-height: 1;
    /* vertical-align: top; */
}

.stars .full-star,
.stars .half-star,
.stars .empty-star {
    position: relative;
    line-height: 1;
    /* vertical-align: middle; */
}

.stars .empty-star {
    color: #28635A;
}

.stars .half-star {
    color: #28635A;
    position: relative;
}

.stars .half-star::before {
    content: '★';
    color: #28635A;
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}


.reviewerImageContainer {
    width: 100px;
    height: 100px;
    position: relative;

}

.reviewerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 5px; */
    border-radius: 50%;
}

.reviewerImage-outline {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100%);
    height: calc(100%);
    border: 1px solid #FDAC8A;
    box-sizing: border-box;
    border-radius: 50%;
}

@media screen and (max-width: 480px) {
    .listingPageImage {
        width: 75vw;
        height: 250px;
    }

    .listingPageContainer,
    .meetTheSellerContainer,
    .linkedGuidesContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .listingGuideCoverContainer,
    .listingGuideCoverContainer::before {
        width: 75vw;
    }

    .otherSection.singleGuide {
        grid-template-columns: auto;
    }

    .reviewerImageContainer {
        width: 80px;
        height: 80px;
    
    }

    .reviewerImage {
        width: 80px;
        height: 80px;
    
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .listingPageImage {
        width: 78vw;
        height: 300px;
    }

    .listingPageContainer,
    .meetTheSellerContainer,
    .linkedGuidesContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .listingGuideCoverContainer,
    .listingGuideCoverContainer::before {
        width: 78vw;
    }

    .sellerImageContainer {
        margin: auto;
    }

    .linkedGuides,
    .meetTheSeller {
        margin-top: 50px;
    }

    .otherSection.singleGuide {
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .listingPageImage {
        width: 78vw;
        height: 300px;
    }

    .listingPageContainer,
    .meetTheSellerContainer,
    .linkedGuidesContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .listingGuideCoverContainer,
    .listingGuideCoverContainer::before {
        width: 78vw;
    }

    .sellerImageContainer {
        margin: auto;
    }

    .linkedGuides,
    .meetTheSeller {
        margin-top: 50px;
    }

    .otherSection.singleGuide {
        grid-template-columns: auto;
    }
}
