.guidesContainer {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 25px;
    row-gap: 50px;
    justify-items: center;
}

.guideImageContainer {
    position: relative;
    width: 321px;
    height: 400px;
}

.guideImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.guideImageContainer::before {
    content: '';
    z-index: 1;
    width: 321px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}

.guideInfo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: #F2DCCB;
    z-index: 1;
}

.guideInfo h2 {
    font-size: 18px;
}

.guideInfo div {
    margin-top: auto;
}

.tape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 25px;
    background-color: rgba(242, 220, 203, 0.6);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-1deg);
    margin-top: -14px;
}

.pageHeader {
    padding-bottom: 40px;
}

.sortGuidesContainer {
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
}

.sortGuidesButton:hover {
    cursor: pointer;
}

.sortGuidesButtonWrapper {
    position: relative;
    display: inline-block;
}

.outerSortGuidesWrapper {
    height: 100%;
    overflow-y: auto;
}

.sortGuides-dropdown {
    position: absolute;
    border: #28635A solid 1.5px;
    border-radius: 3px;
    padding: 15px 20px 15px 20px;
    background-color: #F2DCCB;
    width: fit-content;
    text-wrap: nowrap;
    margin-top: 20px;
    /* margin-right: 60px; */
    margin-right: auto;
    right: 0;
    z-index: 2;
    display: grid;
    column-gap: 30px;
}

.sortGuides-dropdown-hidden {
    display: none;
}

.sortGuides-dropdown a {
    width: fit-content;
}


@media screen and (max-width: 480px) {

    .guidesContainer {
        row-gap: 50px;
        width: auto;
    }

    .guideImageContainer,
    .guideImageContainer::before {
        width: 75vw;

    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .guidesContainer,
    .guideImageContainer,
    .guideImageContainer::before {
        width: 80vw;
        row-gap: 50px;
        margin: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .guidesContainer,
    .guideImageContainer,
    .guideImageContainer::before {
        row-gap: 50px;
    }

}
