.currentGuides {
    margin-top: 20px;
    margin-bottom: 35px;
}

.ownedGuideImageContainer {
    position: relative;
    width: 321px;
    height: 225px;
}

.ownedGuideImage {
    width: 100%;
    height: 225px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.ownedGuideImageContainer::before {
    content: '';
    z-index: 1;
    width: 321px;
    height: 225px;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}

.guideButtons {
    display: flex;
    gap: 8px;
    width: fit-content;
    margin-top: 15px;
}

.manageGuides {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto;
    /* width: 348.75px; */
    width: auto;
    column-gap: 20px;
    padding-top: 5px;
}

.ownedGuidesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    gap: 35px;
    justify-items: center;
    margin: auto;
    /* width: 100%; */
}

@media screen and (max-width: 480px) {

    .ownedGuideImageContainer,
    .ownedGuideImageContainer::before {
        width: 75vw;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .ownedGuideImage,
    .ownedGuideImageContainer,
    .ownedGuideImageContainer::before {
        width: 78vw;
        height: 275px;
    }

}
