.shoppingModal {
    padding: 25px 35px 25px 35px;
    margin-top: 0px;
    width: 400px;
    height: calc(100vh - 56px);
    right: 0;
    background-color: #8EBAA8;
    justify-content: flex-end;
    border-radius: 5px;

}

.shoppingModal input,
.shoppingModal textarea {
    background-color: #8EBAA8;
    border-bottom: 1px solid #28635A;
    border-left: 1px solid #28635A;
}

.shoppingModalImgContainer {
    width: 200px;
}


.shoppingModalListing {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
}

.shoppingModal img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    grid-area: img;
}

.smInfo {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    padding: 5px 0px 10px 0px;
}

.shoppigModalRow {
    display: flex;
    justify-content: space-between;
}

.subTotal {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
