.headerContainer {
    position: relative;
    max-width: 1500px;
    height: 400px;
}

.headerImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

.headerImage-outline {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border: 2px solid #FDAC8A;
    box-sizing: border-box;
    border-radius: 3px;
}

.headerContainer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 400px;
    /* background: rgba(0, 0, 0, 0.2); */
    /* opacity: 0.3; */
    z-index: 1;
}

.headerText {
    position: relative;
    left: 10%;
    bottom: 40%;
    z-index: 1;
    padding: 5px;
    color: #28635A;
    font-weight: 500;
    width: fit-content;
}

.headerText h1 {
    background-color: #FDAC8A;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    max-width: 440px;
    max-height: 45px;
}

.headerIntro {
    position: relative;
    left: 25%;
    top: 0;
    z-index: 1;
    width: fit-content;
}

.headerIntro div {
    background-color: #F2DCCB;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
}

@media screen and (max-width: 480px) {

    .headerContainer {
        max-width: 100vw;
        /* Changed max-width to 90vw */
    }

    .headerIntro {
        left: 10%;
        /* Adjusted left positioning */
        bottom: 30%;
        /* Adjusted bottom positioning */
    }

    .headerIntro div {
        max-width: 60vw;
        /* Adjusted max-width */
    }

    .headerText {
        bottom: 55%;
        /* Adjusted bottom positioning */
        left: 5%;
        /* Adjusted left positioning */
    }

    .headerText h1 {
        font-size: 30px;
        /* Adjusted font-size */
        max-width: none;
        max-height: none;
        ;
        /* Removed max-width to allow for text wrapping */
    }
}
