.userProfilePageContainer {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto 2fr;
    grid-template-rows: 1fr auto;
    margin-top: 20px;
}

.userProfileLeft,
.shopPageLeft {
    display: grid;
    gap: 20px;
    height: fit-content;
    grid-row: 1/3;
}

.userImageContainer {
    width: 300px;
    height: 300px;
    position: relative;
}

.userImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.userImage-outline {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100%);
    height: calc(100%);
    border: 2px solid #FDAC8A;
    box-sizing: border-box;
    border-radius: 50%;
}

.userProfileInfo {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-column: 2/3;
    grid-row: 1;
    justify-content: start;
    margin-top: 56px;
}

.shopInfoContainer {
    display: grid;
    gap: 35px;
    grid-row: 1;
    grid-column: 2/3;
    grid-template-rows: 1fr;
    justify-content: start;
    margin-top: 56px;
}

.username,
.shopName {
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    gap: 20px;
    align-items: center;
    /* justify-content: start; */
    height: fit-content;
}

.username button,
.shopName button {
    width: fit-content;
    height: fit-content;
}

.name,
.memberSince,
.location,
.favePlant,
.bio,
.shopDescription {
    height: fit-content;
}

.bio {
    grid-column: 1/3;
    grid-row-start: 3;
}

.skip {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 321px;
}

.shopListingsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.shopImageContainer {
    width: 348px;
}

.shopImage {
    width: 100%;
    height: 225px;
    /* Keep the height for the shop image */
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.shopInfo {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 3fr 1fr;
    width: 348px;
    column-gap: 20px;
    padding-top: 5px;
}

.shopInfo span {
    font-size: 16px;
}

.soldOutShopImage {
    width: 348px;
}

.soldOutShopImage::before {
    content: '';
    z-index: 1;
    width: 348px;
    height: 225px;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

.profileShop {
    display: flex;
    justify-items: center;
    justify-self: center;
    gap: 20px;
}

@media screen and (max-width: 480px) {

    .userProfilePageContainer {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .username {
        display: grid;
    }

    .userProfileInfo,
    .shopInfoContainer {
        margin-top: 0px;
    }

    .shopImageContainer,
    .shopInfo,
    .soldOutShopImage,
    .soldOutShopImage::before {
        width: 75vw;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .userProfilePageContainer {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .username {
        display: grid;
    }

    .userProfileInfo,
    .shopInfoContainer {
        margin-top: 0px;
    }

    .shopImageContainer,
    .shopInfo,
    .soldOutShopImage,
    .soldOutShopImage::before {
        width: 78vw;
    }

    .userImageContainer {
        margin: auto;
    }

    .shopImage {
        height: 300px;
    }

    .userProfilePageContainer .guideImageContainer,
    .userProfilePageContainer .guideImageContainer::before {
        width: 78vw;
    }
}
