.userProfilePageContainer {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
}

.userProfileLeft {
    display: grid;
    gap: 20px;
    height: fit-content;
}

.userImageContainer {
    width: 100%;
    height: 250px;
}

.userImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.userProfileInfo {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
}

.profileShop {
    display: flex;
    justify-content: space-around;
}

.username {
    grid-column: 1/3;
    display: grid;
    align-items: center;
}

.username button {
    width: fit-content;
    height: fit-content;
}

.name {
    grid-column: 1/2;
    grid-row: 2/3;
}

.memberSince {
    grid-column: 2/3;
    grid-row: 2/3;
}

.location {
    grid-column: 1/2;
    grid-row: 3/4;
}

.favePlant {
    grid-column: 2/3;
    grid-row: 3/4;
}

.bio {
    grid-column: 1/3;
    grid-row: 4/5;
}

.formContainer {
    width: fit-content;
}

.skip {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.shopImageContainer {
    width: 300px;
}

.shopImage {
    width: 100%;
    height: 175px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.shopInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.shopInfo span {
    font-size: 16px;
}

.soldOutShopImage {
    width: 300px;
}

.soldOutShopImage::before {
    content: '';
    z-index: 1;
    width: 300px;
    height: 175px;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
    border-radius: 5px;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%); */
    background-color: rgba(255, 255, 255, 0.7);
}

.shopListingsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.userShopInfo {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
}

.shopName {
    grid-column: 1/2;
    display: grid;
    align-items: center;
}

.shopName button {
    width: fit-content;
    height: fit-content;
}

.shopDescription {
    display: grid;
}

.shopInfoContainer {

    display: grid;
    gap: 20px;
}
