.listingsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    gap: 35px;
    justify-items: center;
    margin: auto;
    margin-top: 20px;
}

.listingsContainer h2 {
    font-size: 18px;
}

.listingImageContainer {
    /* width: 348.75px; */
    width: 321px;
}

.listingImage {
    width: 100%;
    height: 225px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.listingImage-outline {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100%);
    height: calc(100%);
    border: 2px solid #FDAC8A;
    box-sizing: border-box;
    border-radius: 3px;
}

.listingInfo {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto;
    /* width: 348.75px; */
    column-gap: 20px;
    padding-top: 5px;
}

.listingPrice {
    font-size: 16px;
    grid-column: 2/3;
    justify-self: end;
    align-self: start;
}

.showMoreDiv {
    width: auto;
    text-align: center;
    padding-top: 40px;
}

.filterSort {
    display: flex;
    justify-content: space-between;
}

.searchResultsContainer .listingsContainer {
    margin-top: 20px;
}

.searchResultsContainer .filterSort {
    margin-top: 20px;
}

@media screen and (max-width: 480px) {

    .listingImageContainer,
    .listingInfo {
        width: 78vw;
    }

    .listingsContainer {
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .listingImageContainer,
    .listingInfo {
        width: 78vw;
    }

    .listingsContainer {
        grid-template-columns: auto;
        width: 100%;
        gap: 40px;
    }

    .listingImage {
        height: 275px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .listingsContainer {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .listingImage {
        height: 275px;
        width: 100%;
    }

    .showMoreDiv {
        display: flex;
        justify-content: center;
    }
}
