.listingsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    gap: 25px;
    justify-items: center;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.listingImageContainer {
    width: 400px;
}

.listingImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.listingNamePrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: -15px;
}

.listingNamePrice span {
    font-size: 16px;
}
