.sellContainer {
    padding-top: 20px;
}

.sellSteps {
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

.step {
    display: grid;
    width: 100%;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}

.step h2 {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sellSteps img {
    height: 250px;
}

.signUp {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding-top: 40px;
    gap: 10px;
}

.signUp button {
    padding: 10px;
    background-color: #FDAC8A;
    border-radius: 3px;
    border: #28635A 1px solid;
    box-shadow: #F2DCCB 4px 3px;
}

@media screen and (max-width: 480px) {
    .sellSteps {
        flex-direction: column;
    }

    .sellSteps img {
        height: 125px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .sellSteps {
        flex-direction: column;
    }

    .sellSteps img {
        height: 125px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .sellSteps img {
        height: 125px;
    }
}
