.shoppingCartPageContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 75px;
    margin-top: 35px;
}

.shoppingCartImgContainer {
    width: 100%;
}


.shoppingCartListing {
    display: grid;
    gap: 35px;
    grid-template-columns: 1fr 1.25fr;
    padding-bottom: 20px;
}

.shoppingCartListing img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.smInfo {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr;
    padding: 5px 0px 10px 0px;
}

.shoppingCartRow {
    display: grid;
    grid-template-columns: 4fr auto;
    column-gap: 30px;
}

.subTotal {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.shoppingCartPrice {
    display: grid;
    justify-items: end;
    height: fit-content
}

.stockLevelMsg {
    font-style: italic;
    color: #E38251;
}

@media screen and (max-width: 480px) {

    .shoppingCartListing {
        display: flex;
        flex-direction: column;
        width: 65vw;
        gap: 10px;
    }

    .shoppingCartListing img {
        height: 150px;
    }

    .shoppingCartPageContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
