.guideForm .inputContainer input {
    width: 578px;
}

.guideForm .inputContainer textarea {
    width: 578px;
    height: 40px;
}

.submitGuideButton {
    margin-top: 15px;
    width: 100%;
}

.guideDots {
    margin-left: 290px;
    margin-top: 20px;
}

@media screen and (max-width: 480px) {

    .guideForm .inputContainer input,
    .guideForm .inputContainer textarea {
        width: 65vw;
    }

    .guideDots {
        margin: 20px auto;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .guideForm .inputContainer input,
    .guideForm .inputContainer textarea {
        width: 75vw;
    }

    .guideDots {
        margin: 20px auto;
    }
}
