/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
} */

body {
    background-color: #B9CDCA;
    color: #28635A;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding: 40px 60px;
    margin: auto;
    justify-content: center;
    max-width: 1500px;
    overflow-x: hidden;
}

.top-triangle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 75vw solid transparent;
    border-bottom: 200px solid #F2DCCB;
    z-index: -1;
}

.bottom-triangle {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-bottom: 100px solid rgba(253, 172, 138, 0.75);
    /* border-bottom: 100px solid #FDAC8A; */
    z-index: -2;
}

h1,
h2,
h3,
h4 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin: 5px 0px;
    /* letter-spacing: 0px; */
}

.modalMenuItem,
a {
    color: #E38251;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0px;
}

.modalMenuItem:hover,
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

input:not([type=radio]),
textarea,
select {
    display: block;
    border: none;
    width: 578px;
    /* width: 300px; */
    /* width: 30vw; */
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 10px 10px 5px 10px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    /* letter-spacing: -0.5px; */
    color: #28635A;
    line-height: 1.25;
    background-color: transparent;
    border-bottom: 1px solid #28635A;
    border-left: 1px solid #28635A;
}

input[type=radio] {
    accent-color: #E38251;
}

input[type=radio]:hover {
    cursor: pointer;
}

input[type=file] {
    cursor: pointer;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

textarea {
    resize: none;
    height: 75px;
}

button {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    /* letter-spacing: -0.5px; */
    color: #28635A;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

.inputContainer {
    position: relative;
    width: fit-content;
}

.inputContainer input:focus~label,
.inputContainer input:not([placeholder=''])~label,
.inputContainer input:not(:placeholder-shown)~label,
.inputContainer textarea:focus~label,
.inputContainer textarea:not([placeholder=''])~label,
.inputContainer textarea:not(:placeholder-shown)~label,
.inputContainer select:focus~label,
.inputContainer select:not([placeholder=''])~label,
.inputContainer select:not(:placeholder-shown)~label {
    top: -12px;
    font-size: 12px;
    cursor: default;
}

.floating-label {
    position: absolute;
    left: 10px;
    top: 6px;
    transition: 300ms ease all;
    cursor: text;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

select:hover {
    cursor: pointer;
}

.radioInput {
    display: flex;
    align-items: center;
    height: 20px;
    width: fit-content;
    padding-top: 15px;
}

.radioInput span {
    margin-right: 20px;
}

.error {
    font-size: 12px;
    color: rgb(215, 0, 0);
}

button:disabled {
    color: gray;
    cursor: default;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.dots {
    width: 40px;
    height: 19.2px;
    background: radial-gradient(circle closest-side, #28635a 90%, #0000) 0% 50%,
        radial-gradient(circle closest-side, #28635a 90%, #0000) 50% 50%,
        radial-gradient(circle closest-side, #28635a 90%, #0000) 100% 50%;
    background-size: calc(100%/3) 9.6px;
    background-repeat: no-repeat;
    animation: dots-7ar3yq 1.2s infinite linear;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

@keyframes dots-7ar3yq {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%;
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%;
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%;
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
}

.main-content {
    flex: 1;
    max-width: 1380px;
}

.deleteModal button,
.orderModal button {
    width: auto;
}

.deleteButtons {
    display: flex;
    gap: 5px;
    text-wrap: nowrap;
    justify-content: center;
}

form {
    width: 578px;
}

form>button {
    margin-top: 15px;
    width: 100%;
}

@media screen and (max-width: 480px) {
    body {
        padding: 8vw 10vw;
    }

    .deleteModal button {
        width: auto;
    }

    button {
        width: 100%;
    }

    input:not([type=radio]),
    textarea,
    select,
    form>button,
    .inputContainer {
        width: 70vw;
    }

    form {
        width: auto;
    }


}

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        padding: 5vw 8vw;
    }

    input:not([type=radio]),
    textarea,
    select,
    form>button,
    .inputContainer {
        width: 70vw;
    }

    form {
        width: auto;
    }

    .deleteModal button {
        width: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        padding: 5vw 8vw;
    }

    .deleteModal button {
        width: auto;
    }

}
