.checkoutUserContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.orderSummaryImgContainer {
    width: 100px;
}

.orderSummaryItem {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: 1fr 2fr;
}

.orderSummaryImgContainer img {
    width: 100%;
    height: 75px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    grid-area: img;
}


.qtyCircle {
    position: absolute;
    color: #8EBAA8;
    margin-top: -8px;
    margin-left: -10px;
    width: fit-content;
}

.qtyCircle i {
    font-size: large;
}

.cartQtyNum {
    position: absolute;
    color: #28635A;
    font-weight: 100;
    font-size: 11px;
    margin-top: 0px;
    margin-left: 1px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-content: center;
    justify-content: center;

}

.orderSummaryItemSub {
    display: flex;
    justify-content: end;
    width: 100%;
}

.thankYouContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;

}

.orderDetails {
    display: grid;
    gap: 20px;
}

.checkDemoUser {
    cursor: pointer;
    width: 321px;
    display: flex;
    justify-content: center;
}

.orderListingInfo {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

/* .orderPot {
    margin-top: -20px;
} */

@media screen and (max-width: 480px) {

    .checkoutUserContainer,
    .thankYouContainer {
        display: flex;
        flex-direction: column;
        width: 65vw;
        gap: 50px;
    }

    .orderSummaryImgContainer {
        width: 100%;
    }

    .orderSummaryImgContainer img {
        height: 150px;
    }

    .orderSummaryItem {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .checkoutUserContainer,
    .thankYouContainer {
        grid-template-columns: 1fr;
        width: 78vw;
        gap: 50px;
    }

    .orderSummaryImgContainer {
        width: 100%;
    }

    .orderSummaryImgContainer img {
        height: 225px;
    }

    .orderSummaryItem {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    .qtyCircle {
        margin-top: -12px;
        margin-left: -14px;
    }

    .qtyCircle i {
        font-size: xx-large;
    }

    .cartQtyNum {
        font-size: 21px;
    }
}
