.navigation {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 50px;
    justify-items: center;
    align-items: center;
    padding-bottom: 20px;
}

.navLinks {
    font-size: 18px;
}

.rightNav {
    cursor: default;
    position: relative;
}

.rightNav i {
    font-size: x-large;
    cursor: pointer;
}

/* .navLinks a {
    color: #28635A
} */

.profile-dropdown {
    position: absolute;
    border: #28635A solid 1.5px;
    /* box-shadow: 2px 2px 0px #f9ddd2; */
    border-radius: 3px;
    padding: 15px;
    background-color: #F2DCCB;
    width: fit-content;
    text-wrap: nowrap;
    margin-top: 5px;
    margin-right: -2px;
    right: 0;
    z-index: 1;
    cursor: text;
}

.hidden {
    display: none;
}

.userInfo {
    display: grid;
    gap: 10px;
}

.profileLink {
    padding: 5px;
    white-space: nowrap;
}

.profileButtonWrapper {
    position: relative;
    display: inline-block;
}

.shoppingCartIconWrapper {
    position: relative;
    display: inline-block;
}

.cartCircle {
    position: absolute;
    color: #FDAC8A;
    margin-top: 10px;
    margin-left: -10px;
    width: fit-content;
}

.cartNum {
    position: absolute;
    color: #28635A;
    font-weight: 100;
    font-size: 11px;
    /* margin-top: 10px;
    margin-left: -1px; */
    margin-top: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-content: center;
    justify-content: center;

}

.profileOptions {
    display: grid;
    grid-template-columns: 1fr 5fr;
    row-gap: 10px;
}
