.manageListingsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    gap: 35px;
    justify-items: center;
    margin: auto;
    /* width: 100%; */
}

.manageListingsContainer h2 {
    font-size: 18px;
}

.manageListingImageContainer {
    /* width: 348.75px; */
    width: 321px;
}

.manageListingImage {
    width: 100%;
    height: 225px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.manageListingImage-outline {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100%);
    height: calc(100%);
    border: 2px solid #FDAC8A;
    box-sizing: border-box;
    border-radius: 3px;
}

.currentListings {
    margin-top: 20px;
    margin-bottom: 35px;
}

.soldListingsHeader {
    margin-top: 40px;
}

.manageSoldOutImage {
    filter: grayscale(100%) opacity(50%);
}


.listingButtons {
    display: flex;
    gap: 8px;
    justify-content: end;
    width: fit-content;
}

.soldListingButtonContainer {
    display: flex;
    justify-content: end;
}

.soldListingButtons {
    display: flex;
    gap: 8px;
    justify-content: end;
    width: fit-content;
}

.manageListingInfo {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 3fr 1fr;
    width: 348.75px;
    column-gap: 20px;
    padding-top: 5px;
}

@media screen and (max-width: 480px) {

    .manageListingImageContainer {
        width: 75vw;
    }

    .manageListingsContainer {
        width: 75vw;
        gap: 0px;
    }

    .manageListingInfo {
        width: 75vw;
        padding-top: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .manageListingImageContainer,
    .manageListingInfo {
        width: auto;
    }

    .manageListingsContainer {
        grid-template-columns: auto;
        width: 100%;
        gap: 0px;
    }

    .manageListingImage {
        height: 275px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .manageListingsContainer {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        row-gap: 0px;
    }

    .manageListingImageContainer,
    .manageListingInfo {
        width: auto;
    }

    .manageListingImage {
        height: 275px;
        width: 100%;
    }
}
