.soldOutImage {
    width: 348.75px;
}

.soldOutImage::before {
    content: '';
    z-index: 1;
    width: 348.75px;
    height: 225px;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
    border-radius: 5px;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%); */
    background-color: rgba(255, 255, 255, 0.7);
}

.currentListings {
    margin-top: 20px;
    margin-bottom: 35px;
}


.listingButtons {
    display: flex;
    gap: 8px;
    justify-content: end;
    width: fit-content;
}

.soldListingButtonContainer {
    display: flex;
    justify-content: end;
}

.soldListingButtons {
    display: flex;
    gap: 8px;
    justify-content: end;
    width: fit-content;
}

.manageListingInfo {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 3fr 1fr;
    width: 348.75px;
    column-gap: 20px;
    padding-top: 5px;
}

.manageListingInfo {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 3fr 1fr;
    width: 348.75px;
    column-gap: 20px;
    padding-top: 5px;
}
