.filterButtonWrapper:hover {
    cursor: pointer;
}

.filter-dropdown {
    position: absolute;
    border: #28635A solid 1.5px;
    /* box-shadow: 2px 2px 0px #f9ddd2; */
    border-radius: 3px;
    padding: 15px;
    background-color: #F2DCCB;
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    margin-top: 5px;
    margin-right: -2px;
    left: 1;
    z-index: 2;
    cursor: text;
}

.filter-dropdown-hidden {
    display: none;
}

.filterInputBox {
    border: none;
    padding: 2px 5px;
    margin-top: 5px;
    outline: none;
    background-color: #efefef;
    border-radius: 3px;
}

.filterInputBox::-webkit-inner-spin-button,
.filterInputBox::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.filterRange {
    display: grid;
    align-items: center;
    border-radius: 3px;
    /* padding: 5px; */
    /* gap: px; */
    /* grid-template-columns: 24px auto; */
}

.filterRange input {
    width: 24px;
    align-items: center;
}

.priceOptions {
    display: grid;
    grid-template-columns: 24px auto;
    align-items: center;
    gap: 10px;
    height: 35px;
}

.priceOptions:last-child {
    margin-top: -1px;
}

.customPrice {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.customPrice input {
    margin-top: 10px;
    width: 26px;
}

.customPrice span {
    margin-top: 0px;
}

.customPrice button {
    margin-left: 10px;
}

.filterRange div.error {
    margin-left: 35px;
    inline-size: 100px;
    white-space: pre-wrap;
    margin-top: 10px;
}
