.filterButton:hover {
    cursor: pointer;
}

.outerFilterWrapper {
    height: 100%;
    overflow-y: auto;
}

.filter-dropdown {
    position: absolute;
    border: #28635A solid 1.5px;
    border-radius: 3px;
    padding: 15px 20px 15px 20px;
    background-color: #F2DCCB;
    width: fit-content;
    text-wrap: nowrap;
    margin-top: 20px;
    margin-right: -2px;
    left: 1;
    z-index: 2;
    cursor: text;
    display: grid;
    column-gap: 30px;
}

.filter-dropdown-hidden {
    display: none;
}

.filterInputBox {
    border: none !important;
    padding: 2px 5px !important;
    margin-top: 3px !important;
    outline: none;
    background-color: #efefef !important;
    border-radius: 3px !important;
}

.filterInputBox::-webkit-inner-spin-button,
.filterInputBox::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.filterRange {
    display: grid;
    align-items: center;
    border-radius: 3px;
}

.potSize {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding-top: 18px;
    justify-content: space-evenly;
    align-items: center;
}

.potSize button {
    width: 42px;
    background-color: #F2DCCB;
    box-shadow: #FDAC8A 2px 2px;
}

.filterRange input {
    width: 24px;
    align-items: center;
}

.priceOptions {
    display: grid;
    grid-template-columns: 24px auto;
    align-items: center;
    gap: 10px;
    height: 35px;
}

.priceOptions:last-child {
    margin-top: -1px;
}

.customPrice {
    display: flex;
    align-items: center;
    margin-left: 34px;
    margin-top: -30px;
}

.customPrice input {
    width: 40px !important;
}

.customPrice span {
    margin-top: -8px;
    margin-right: 3px;
}

.customPrice button {
    margin-left: 10px;
    margin-top: -6px;
    width: 30px;
    background-color: #F2DCCB;
    box-shadow: #FDAC8A 2px 2px;
}

.filterRange div.error {
    margin-left: 35px;
    inline-size: 160px;
    white-space: pre-wrap;
    margin-top: 10px;
}

.clickedButton {
    background-color: #FDAC8A;
    border-radius: 3px;
    border: 1px #6b6b6b solid;
    height: 26.5px;
}

.noResultsContainer {
    min-height: 550px;
}

.clearFilters {
    margin-top: 20px;
    background-color: #F2DCCB;
    box-shadow: #FDAC8A 2px 2px;
}

@media screen and (max-width: 480px) {

    .filter-dropdown {
        width: auto;
    }

    .clearFilters {
        width: auto;
    }

    .potSize {
        gap: 5px;
    }

    .potSize button {
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }

    .customPrice button {
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .filter-dropdown {
        width: auto;
        display: grid;
        grid-template-areas:
            "price pot"
            "clear clear";
    }

    .clearFilters {
        width: auto;
        grid-area: clear;
    }

    .potFilter {
        grid-area: pot;
    }

}

@media screen and (min-width: 469px) and (max-width: 1024px) {

    .filter-dropdown {
        width: auto;
        display: grid;
        grid-template-areas:
            "price pot"
            "clear clear";
    }

    .clearFilters {
        width: auto;
        grid-area: clear;
    }

    .potFilter {
        grid-area: pot;
    }

}
